<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @expenditure.title %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @expenditure.expense %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expenditure.description %>
</p>

<%= link_to 'Edit', edit_expenditure_path(@expenditure) %> |
<%= link_to 'Back', expenditures_path %>
